<div class="admin_info_area">
    <div class="label_area">
        <div class="page_title">
            パートナー一覧
        </div>
        <div class="add_button_area">
            <%= link_to 'パートナーを追加' , partner_new_path, class: "btn btn-outline-primary" %>
        </div>
    </div>
</div>

<%= render :partial => "admin_partial/index/index" %>