<div class="admin_info_area">
    <%= link_to '<< カテゴリーに戻る' , topic_category_index_path(partner_id: @partner.id), class: "back_link" %>
    <div class="label_area">
        <div class="page_title">
            求人一覧
        </div>
        <div class="add_button_area">
            <%= link_to '求人を追加' , job_new_path, class: "btn btn-outline-primary" %>
        </div>
    </div>
</div>

<%= render :partial => "admin_partial/index/index" %>