<div class="admin_info_area">
    <div class="label_area">
        <div class="page_title">
            管理者一覧
        </div>
        <div class="add_button_area">
            <%= link_to '管理者を追加' , user_new_path, class: "btn btn-outline-primary" %>
        </div>
    </div>
</div>

<%= render :partial => "admin_partial/index/index", locals:{data: @data} %>