#partner_top {
    .main_visual {
        position: relative;
        margin-bottom: 5rem;
        .image_area {
            position: relative;
            width: 100%;
            .image {
                img {
                    height: auto;
                    width: 100%;
                }
            }
            .catch_copy {
                position: absolute;
                width: 80%;
                padding: 0 2rem;
                font-size: 4rem;
                font-weight: 700;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #partner_top {
        .main_visual {
            overflow: hidden;
            margin-bottom: 3rem;
            .image_area {
                .image {
                    overflow: hidden;
                    width: 100%;
                    max-width: 100%;
                    max-height: 100%;
                    img {
                    }
                    .main_image_center {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        object-position: 50% top;
                    }
                    .main_image_right {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        object-position: right top;
                    }
                    .main_image_left {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        object-position: left top;
                    }
                }
                .image_position {
                    height: 300px;
                }
                .catch_copy {
                    top: 50%;
                    font-size: 3rem;
                }
            }
        }
    }    
}

@media screen and (max-width: 599px) {
    #partner_top {
        .main_visual {
            .image_area {
                .image {
                    img {
                    }
                }
                .catch_copy {
                    padding: 0 1rem;
                    width: 100%;
                    font-size: 2rem;
                }
            }
        }
    }
}